@page
@model PendientesPWA.Pages.AgregarModel
@{
}

<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Styles.css" rel="stylesheet" />
</head>

<body>
	<header>
		<h1>PWA Pendientes</h1>
	</header>
	<main>
		<form>
			<label>Pendiente:</label>
			<input type="text"/>
		</form>
	</main>
	<script src="~/Main.js"></script>
</body>
</html>