@page
@model PendientesPWA.Pages.EditarModel
@{
}
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Styles.css" rel="stylesheet" />
</head>

<body>
	<header>
		<a href="#">&#x1F81C</a>
		<h1>PWA Pendientes</h1>
		<a href="#">&#x1F4BE;</a>
	</header>
	<main>
		<form>
			<label>Pendiente:</label>
			<input type="text" />
			<p class="error"></p>

			<input type="button" />
		</form>
	</main>
	<script src="~/Main.js"></script>
</body>
</html>