@page
@model PendientesPWA.Pages.IndexModel
@{
}

<html>
	<head>
		<title></title>
	<meta name="viewport" content="width=device-width"/>
	<link href="~/Styles.css" rel="stylesheet"/>
	</head>

	<body>
		<header>
		<h1>PWA Pendientes</h1>
		</header>
		<main>
			<table>
				<thead>
					<tr>
						<th>Pendiente</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<a href="#" class="fab">+</a>
			<nav class="flotante">
				<a href="#">Editar</a>
				<a href="#">Eliminar</a>
			</nav>
		</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script> 
		@* <script module></script> Al usar modulos*@
		@* <script src="index.js"> *@
		<script src="~/Scripts/Index.js?v=1"></script>   @* guardar scripts por versiones, para evitar errores de cache. *@
		<script src="~/Main.js"></script>
		<script src="~/Scripts/Editar.js"></script>
	</body>
</html>