@page
@model PendientesPWA.Pages.IndexModel
@{
}

<html>
	<head>
		<title></title>
	<meta name="viewport" content="width=device-width"/>
	<link href="~/Styles.css" rel="stylesheet"/>
	</head>

	<body>
		<header>
		<h1>PWA Pendientes</h1>
		</header>
		<main>
			<table>
				<thead>
					<tr>
						<th>Pendiente</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Comprar la comida</td>
						<td>&vellip;</td>  
					</tr>
				</tbody>
			</table>
			<a href="#" class="fab">+</a>
			<nav class="flotante">
				<a href="#">Editar</a>
				<a href="#">Eliminar</a>
			</nav>
		</main>
		<script src="~/Main.js"></script>
	</body>
</html>