html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:Arial;
}

body{
    display: grid;
    grid-template-rows: 70px auto;
}

header{
    background-color: navy;
    color: white;
    text-align: center;
    font-size: medium;
    line-height: 50px;
}

main{
    overflow: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
    font-size: 1.2em;
}

table thead{
    position: fixed;
    top:70px;
    width: 100%;
    display: block;
}

    table thead th {
        padding: 5px;
        background-color: gainsboro;
        width: 100%;
    }

table td:last-child{
    width: 20px;
    text-align: center;
    position:relative;
}

.fab{
    font-size: 3em;
    color:white;
    background-color: navy;
    width:60px;
    height:60px;
    position:absolute;
    bottom:20px;
    right:40px;
    line-height:50px;
    text-align:center;
    text-decoration:none;
    border-radius:50px;
}

.flotante{
    display:flex;
    flex-direction:column;
    background-color:white;
    border:1px solid gray;
    width:fit-content;
    padding:5px;
    display:none;
}

td > .flotante{
    display: flex;
    position:absolute;
    right:5px;
    top:30px;
    z-index:1;
}

.flotante a{
    text-decoration:none;
    color:black;
    padding: 0 5px;
}

.flotante a:hover {
    background-color:gainsboro;
}